/* Variables */

:root {
    --warning-border: orange;
}

/* Changing styles */

html {
    zoom: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    font-size: 1.8rem;
}

code {
    font-weight: var(--code-font-weight);
    line-height: var(--code-line-height);
}


h1, h2, h3, h4, h5 {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}

#sidebar {
    font-size: 0.9em;
}

blockquote {
    margin: 20px 0;
    padding: 0 calc(var(--blockquote-offset) + 5px);
    line-height: 1.2em;
    font-size: 1em;
    color: var(--fg);
    background-color: inherit;
    border: 1px solid black;
    position: relative;
}

blockquote p {
    background-color: inherit;
    position: relative;
    margin: 20px 10px;
    z-index: 2;
}

strong {
    font-weight: normal;
}

/* Custom Parts */

.modules-table table td {
    height: 50px;
}
